@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 */
.scrollbar {
  overflow-y: auto;
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
  width: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #40AB55; 
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {

}


.custom-border {
  display: flex;
  flex-basis: 100%;
  align-items: center;
}
.custom-border::before,
.custom-border::after {
  content: '';
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
.custom-border::before {
  margin-right: 16px;
}
.custom-border::after {
  margin-left: 16px;
}
